.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.login-card {
  min-height: 50%;
}
.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.login-card {
  min-height: 50%;
}
